<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>Registro</h2>
        <form method="post" class="form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button2" style="vertical-align:middle"><span>Register </span></button>
        </form>

        <p class="login-link">Already have an account? <a href="{% url 'login' %}">Login here</a></p>
    </div>
</body>
</html>